<!DOCTYPE html>
<html>
    <head>
        <title>Practica 05</title>
    </head>
    <body>
        <h1>Practica 05 - Convolucion de imagenes - CUDA - Flask - Dockers</h1>
        
        </br>
        
        <form role="form" method='POST' enctype="multipart/form-data">
            <div>
            
                <label>
                    <input type="radio" id="img1" name="imagen" value="static/arbol.png"></input>
                    <img style='width: 150px;' src="static/arbol.png">
                </label>
                <label>
                    <input type="radio" id="img2" name="imagen" value="static/arbol.png"></input>
                    <img style='width: 150px;' src="static/arbol.png">
                </label>
                
            </div>
            
            <div>
                Mascara
                <select name="mascara">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="15">15</option>
                    <option value="17">17</option>
                </select>
            </div>
            
            <div>
                Sigma 1: <input type="text" name="sigma1" id="sigma1" style="max-width: 300px;" />
                </br>
                Sigma 2: <input type="text" name="sigma2" id="sigma2" style="max-width: 300px;" />
                </br>
            </div>
            
            <button type="submit">Procesar</button>
            
        </form>
        
    </body>
</html>